/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
*.key
resources/public/js/dev/out/
resources/public/js/dev/pikseli.js
resources/public/js/out/
resources/public/js/pikseli.js
resources/public/css/
.sass-cache
figwheel_server.log
dev_notes.md

resources/public/images
resources/public/projects
resources/public/aarrearkku