/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
*.key
vagrant/.vagrant/
/deploy
resources/public/js/dev/out/
resources/public/js/dev/voimala.js
resources/public/js/out/
resources/public/js/voimala.js
resources/public/css/
.sass-cache
figwheel_server.log

resources/public/images
/filesystem