/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
*.key
frontend/public/images
frontend/public/projects
frontend/public/aarrearkku
frontend/public/js/*
frontend/public/css/
.sass-cache
figwheel_server.log
dev_notes.md
node_modules
.shadow-cljs
setup.md
/frontend/filestorage/*
/lein.bat
/TODO.md
.gradle/
logs