// ****************************************************************
// Layout style
// ****************************************************************
.black-box {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

// ****************************************************************
// Header
// ****************************************************************

.site-header {
    @extend .black-box;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;

    > .logo-and-description {
        text-align: center;

        > .logo {
            width: 290px;
            height: 55px;
        }

        > .site-description {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    > .site-navigation {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 780px) {
    .site-header {
        flex-direction: column;
        height: auto;
        > .site-navigation {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// Navigation
// ----------------------------------------------------------------

.description {
    font-size: 0.8em;
}

nav {
    > ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        > li {
            display: inline-block;
            padding: 7px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 2em;
        }
    }
}

// ****************************************************************
// Content
// ****************************************************************

header.page-main-header {
    color: $colorHeaders;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.page-content {
    @extend .black-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1024px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5) inset;
    padding: 16px;
}

// ****************************************************************
// Footer
// ****************************************************************

.site-footer {
    text-align: center;
}