.some {
    display: block;
    margin-top: 0;
    margin-bottom: 0em;
    height: 2em;
    width: 220px;
}

.some-twitter:before {
    background-image: url("../images/some_twitter.png");
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    padding-left: 25px;
}

.some-linkedin:before {
    background-image: url("../images/some_linkedin.png");
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    padding-left: 25px;
}

.some-youtube:before {
    background-image: url("../images/some_youtube.png");
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    padding-left: 25px;
}

.some-github:before {
    background-image: url("../images/some_github.png");
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    padding-left: 25px;
}

.some-stackoverflow:before {
    background-image: url("../images/some_stackoverflow.png");
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    padding-left: 25px;
}